<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
	  <script src="javascripts/Chart.bundle.js"></script>
     <script src="javascripts/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
	
</head>
<body class="container" dir="rtl" >

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1> כותרת לגבי מהות התצוגה</h1>
            <p>
			<%
	          var date = new Date();
	         %>
	        <span> תאריך ושעת עדכון </span>
	        <span><%= date%></span>
			</p>
        </div>
    </main>
	<article class="jumbotron">
	<div id="container" style="width: 75%;">
        <canvas id="canvas"></canvas>
    </div>


  
    </article>

	<script>	

	function go()
	{
	
	<%= console.log(JSON.stringify(quetes)) %>

	barChartData.datasets[0].data= [<%=quetes.USDAED%>,<%=quetes.USDAFN%>,<%=quetes.USDALL%>];	
	
	 var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });

            window.myBar.update();
	}

	   var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1  , data:[2,3,4]             
            }]
        };
		//alert(JSON.stringify(barChartData.datasets[0].data));
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });	   

        };

           
     
	</script>
	<input type="button" onclick="go()" />

	


</body>
</html>